@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Ubuntu&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  background-color: #000000;
  color: #f6f6f6;
}

.header {
  padding: 2% 0% 0% 15% ;
}

.header__menu {
  display: flex;
  gap: 80px;
}

.header__menu__link{
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: 400;
  color: #22d4fd;
}

.presentation {
  padding: 5% 15%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.presentation__content {
  width: 615px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.presentation__content__title {
  font-size: 36px;
  font-family: 'Ubuntu', sans-serif;
}

.highlighted-title {
  color: #22d4fd;
}

.presentation__content__paragraph {
  font-size: 24px;
  font-family: 'Montserrat', sans-serif;
}

.presentation__links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}

.presentation__links__subtitle {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  font-size: 24px;
}

.presentation__links__link {
  display: flex;
  justify-content: center;
  gap: 16px;
  width: 378px;
  text-align: center;
  border: 2px solid #22d4fd;
  border-radius: 8px;
  font-size: 24px;
  font-weight: 600;
  padding: 21.5px 0;
  text-decoration: none;
  color: #f6f6f6;
  font-family: 'Montserrat', sans-serif;
  transition: background-color 1s;
}

.presentation__links__link:hover {
  background-color: #272727;
  transition: background-color 1s;
}

.baseboard {
  padding: 24px;
  color: #000000;
  background-color: #22d4fd;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 24px;
  font-weight: 400;
}
